[Desktop Entry]
Version=1.0
Type=Link
Name=styles
Comment=
Icon=user-bookmarks
URL=https://github.com/giullianacestari/alura-books/tree/aula12/styles
